/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/*reset ends
*/
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(102, 51, 153, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid blue;
}

input[type="text"] {
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: aliceblue;
  border: 1px solid rgba(0, 0, 255, 0.4);
}

main {
  border: 10px solid ;
  border-radius: 1rem;
  height: 50%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

button {
  border: none;
  background-color: aliceblue;
  border-radius: 0.5rem;
  height: 50px;
  width: 120px;
}

#results-div {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
